# Build folders
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/

# Compiled files
*.pdb
*.obj
*.exe
*.dll
*.app
*.dylib
*.lib

# VS project files (si usas Visual Studio)
.vscode/
*.VC.db
*.sln
*.suo
*.user
*.opensdf
*.sdf
*.ipch

# MacOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Unreal backup
*.log
*.tmp

# Git LFS pointer files
*.uasset
*.umap

# Git LFS configuration files
.gitattributes
